.App {
  text-align: center;
  color: red;
  background-image: linear-gradient(rgb(157, 185, 92),rgb(214, 116, 63),blue);
  
}
.column {
  
  float: left;
  width: 30%;
  padding: 10px;
}

.column img {
  margin-top: 10px;
}

/* Clear floats after the columns */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.grid{
  max-width: 120rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:1.6rem;
}
.card2{
  padding: 2em;
  border: 1px solid black;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
